.wrapper {display: flex; align-items: stretch; width: 100%; background: #e9eced}

.sidebar {display: flex; flex-wrap: wrap; width: 300px;}
.sidebar, .sidebar-content {position: relative; background: #1c2427;}
.sidebar-content {display: flex; flex-direction: column; height: 100vh;}
.sidebar-title {display: block; padding: 10px; color: #fff; font-size: 25px;}
.sidebar-title .console {margin-left: 65px; padding: 4px 15px 4px 15px; color: #43a7b7; border: 1px solid #43a7b7; border-radius: 15px;font-size: 12px;}
.sidebar-nav {flex-grow: 1; margin-bottom: 0; padding-left: 0;list-style: none;}
.sidebar-link, a.sidebar-link {position: relative; display: block; padding: 10px; cursor: pointer; color: #e1e1e1;}
.sidebar-link:hover {background: #222e3c;}
.sidebar-icon {width: 16px;height: 10px;color: #fff;}
.sidebar-bookmark {padding: 10px 0 10px 0; border: 1px solid #595959; border-right: none; border-left: none;}
.sidebar-bookmark > a {color: #009be5;}
.sidebar-recently-viewed > a {color: #009be5;}
.sidebar-menu {background-color: #2e3f52;}
.sidebar-group {background-color: #121a26;}
.sidebar-head {background-color: #040d18;}

.bookmark-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    padding: 3px;
    color: #fff;
    border: 1px solid #222e3c;
    border-radius: 50%;
    background: deepskyblue;
    font-size: 12px;
}

#Header {position: fixed; width: 100%; height: 50px; background-color: #50a4dc;}

#Header .header-title {margin-left: 300px; color: #fff;}

#Header .header-menu > a > i {color: #fff;}

#Header .header-menu .notify-number {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 11px;
    padding: 0;
    color: #fff;
    border: 1px solid orangered;
    border-radius: 40%;
    background: orangered;
    font-size: 10px;
}

.user {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 0;
    color: #fff;
    border: 1px solid grey;
    border-radius: 50%;
    background: grey;
    font-size: 12px;
}

.container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.content {flex: 1; width: 80vw; max-width: 100vw; padding: 80px 80px 0 60px;}
.content-header {font-size: 25px; font-weight: bold;}
.content-detail .content-tab-menu > a {padding: 5px 20px 5px 20px; color: black;}
.content-detail .content-tab-menu > a:hover {color: #fff; border: 1px solid #43a7b7; background-color: #43a7b7;}
.content-detail > hr {display: block; margin-top: 5px;}
.content-description {margin-top: 10px; padding: 20px;}

.section-content-description-1 {box-sizing: content-box; margin-bottom: 20px; border-top: 2px solid #43a7b7; background-color: #ffffff;}
.section-content-description-2 {box-sizing: content-box; background-color: #ffffff;}

.content-description .description-title {font-size: 14px; font-weight: 520;}

.table-1 {width: 100%; text-align: left; border: 1px solid #b3b3b3;}
.table-1 th {width: 15%; padding: 0 0 0 20px; border-bottom: 1px solid #b3b3b3; background-color: #e5e5e5; font-weight: bold;}
.table-1 td {padding: 10px; border-bottom: 1px solid #b3b3b3; background-color: #fff;}

.table-2 {width: 100%; border: 1px solid #b3b3b3;}
.table-2 th {font-weight: bold;}
.table-2, th, td {padding: 10px;}
.table-2 th, td {border-bottom: 1px solid #b3b3b3;}

.icon-centos {width: 15px; height: 15px;}

.tab-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 3px;
    color: #fff;
    border: 1px solid #43a7b7;
    border-radius: 50%;
    background: #43a7b7;
    font-size: 12px;
}

.active-tab .tab-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 3px;
    color: #43a7b7;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    font-size: 12px;
}

.content-detail .content-tab-menu > a:hover > .tab-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 3px;
    color: #43a7b7;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    font-size: 12px;
}